<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
          <!-- Asegura el permiso para escribir en el almacenamiento externo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Asegura el permiso para leer el almacenamiento externo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Asegura el permiso para acceder a la ubicación del dispositivo -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>



</manifest>
